/* following style will be applied to every element */
*, *::before, *::after{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box; 
 }

.App {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh; 
    text-align: center;
}

main {
    width: 100%;
    flex-grow: 1;
}